@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/************** Main Page/Body/Header settings ***************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg,
      #283048,
      #859398);
}

header {
  font-size: 35px;
  color: #edf0f1;
  text-transform: uppercase;
  font-weight: 700;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

/* --------------------------------------------------- */

/***** Styling for Score of Player/Computer and Position of Player/Computer Choice *****/

#playerScore {
  color: limegreen;
  font-weight: bolder;
  font-size: 2.3rem;
}

#computerScore {
  color: red;
  font-weight: bolder;
  font-size: 2.3rem;
}

#playerPickChoice {
  display: flex;
  position: relative;
  top: 20px;
}

#comPickChoice {
  display: flex;
  position: relative;
  top: 20px;
}

/* --------------------------------------------------- */

/************** Modal Styling for the list of Rules of the game ****************/

.modal .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0);
  background: #edf0f1;
  width: 400px;
  height: 500px;
  z-index: 2;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
}

.modal-content p {
  margin: 10px;
  font-size: 25px;
}

.modal-content h2 {
  font-size: 2rem;
}

.modal.active .overlay {
  display: block;
}

.modal.active .modal-content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%)scale(1);
}

.modal .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background-color: #F0CB35;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #edf0f1;
}

.close-btn:active {
  transform: translateY(2px);
}

/********* ! Game Result Modal for Winning / Losing Game **********/

.gameResultContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0);
  background: #edf0f1;
  width: 450px;
  height: 260px;
  z-index: 2;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
}

.gameResultContent span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 1.5rem;
}

.gameResultContent h2 {
  font-size: 2rem;
}

.gameResultContent.active .overlay {
  display: block;
}

.modal.active .gameResultContent {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%)scale(1);
}

.close-btn-result {
  height: 150px;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 130px;
  height: 40px;
  border-radius: 25px;
  margin: 5px;
  background-color: #F0CB35;
  font-weight: 500;
  color: black;
  border-style: none;
}

.close-btn-result:hover {
  background-color: #edf0f1;
  box-shadow: 0 0 9px #F0CB35;
  outline: 0.5px solid #F0CB35;
  transition: 0.1s ease;
  color: black;
}

.close-btn-result:active {
  transform: translateY(4px);
}

/* ------------------------------------------------ */

/***** Game Buttons *****/

.game-buttons {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-buttons i {
  font-size: 3.5em;
  display: flex;
  margin: 40px 50px;
}

.game-buttons button {
  background-color: #edf0f1;
  border: 5px solid #edf0f1;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  transition: 0.1s ease;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px 10px;
}

.game-buttons span {
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.3rem;
  position: relative;
  bottom: 15px;
}

.btn-grey:hover {
  border: 5px solid grey;
  box-shadow: 0 2px 2px grey;
  color: grey;
}

.btn-grey:active {
  transform: translateY(4px);
}

.btn-green:hover {
  border: 5px solid limegreen;
  box-shadow: 0 2px 2px limegreen;
  color: limegreen;
}

.btn-green:active {
  transform: translateY(4px);
}

.btn-blue:hover {
  border: 5px solid lightskyblue;
  box-shadow: 0 2px 2px lightskyblue;
  color: lightskyblue;
}

.btn-blue:active {
  transform: translateY(4px);
}

.btn-red:hover {
  border: 5px solid red;
  box-shadow: 0 2px 2px red;
  color: red;
}

.btn-red:active {
  transform: translateY(4px);
}

.btn-orange:hover {
  border: 5px solid orange;
  box-shadow: 0 2px 2px orange;
  color: orange;
}

.btn-orange:active {
  transform: translateY(4px);
}

.fa-hand-back-fist {
  color: grey;
}

.fa-hand {
  color: orange;
}

.fa-hand-scissors {
  color: red;
}

.fa-hand-lizard {
  color: limegreen;
}

.fa-hand-spock {
  color: lightskyblue;
}

/* ------------------------------------------------ */

/***** Player vs Computer Area + Scores ******/

.center-area {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  gap: 10px;
}

.center-area span {
  font-size: 35px;
  font-weight: bolder;
  color: #F0CB35;
}

.player-area {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  background: #edf0f1;
  width: 300px;
  height: 220px;
}

.player-area h2 {
  color: black;
  margin: 10px;
  text-transform: uppercase;
}

.computer-area {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 220px;
  background: #edf0f1;
}

.computer-area h2 {
  color: black;
  margin: 10px;
  text-transform: uppercase;
}

.scores span {
  color: #4f4f51;
  font-size: 1.5rem;
}

/* ------------------------------------------------ */

/***** Option Buttons For Play / Rules & Reset *****/

.opt-btn-pos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.option-buttons {
  height: 150px;
  font-family: inherit;
  font-size: 22px;
  text-transform: uppercase;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  margin: 5px;
  background-color: #F0CB35;
  font-weight: 500;
  color: black;
  border-style: none;
}

.option-buttons:hover {
  background-color: #edf0f1;
  box-shadow: 0 0 9px #F0CB35;
  outline: 0.5px solid #F0CB35;
  transition: 0.1s ease;
  color: black;
}

.option-buttons:active {
  transform: translateY(4px);
}

/***** Result Message after Choice was made *****/

#resultMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 10px 50px;
  margin: 0 auto;
}

#resultMessage span {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 1.3rem;
  height: 50px;
  width: 180px;
}

#game-result {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}

/**** Footer for Copyrights *******/

.social {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background-color: #283048;
  width: 100%;
}

.social p {
  color: #edf0f1;
  font-size: 11px;
  margin: 10px;
}

/* ------------------------------------------------ */

/* Media Queries for Mobile Devices */

@media screen and (max-width: 920px) {
  header {
    position: absolute;
    top: 0;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .player-area,
  .computer-area {
    height: 200px;
    width: 280px;
  }

  .game-buttons i {
    font-size: 2rem;
  }

}

@media screen and (max-width: 820px) {
  .center-area {
    display: flex;
    flex-direction: row;
  }

  .modal-content {
    font-size: 25px;
  }

  .game-buttons i {
    font-size: 4rem;
    margin: 8px 8px;
  }

  .game-buttons span {
    display: none;
  }

}

.modal .modal-content {
  width: 400px;
}

.modal-content p {
  font-size: 25px;
}

@media screen and (max-width: 640px) {
  .game-buttons i {
    font-size: 4em;
    display: flex;
    margin: 5px 5px;
  }

  .game-buttons span {
    display: none;
  }

  .modal-content {
    font-size: 25px;
  }

  #resultMessage {
    padding: 10px 0;
  }

  #playerPickChoice {
    display: flex;
    position: relative;
    top: 0;
  }

  #comPickChoice {
    display: flex;
    position: relative;
    top: 0;
  }

  .player-area,
  .computer-area {
    font-size: 15px;
    height: 170px;
    width: 240px;
  }

  .scores span {
    font-size: 20px;
  }

  .modal-content {
    font-size: 22px;
  }

  @media screen and (max-width: 560px) {
    header {
      position: absolute;
      top: 0;
      font-size: 1.7rem;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .modal .modal-content {
      width: 350px;
      height: 550px;
    }

    .player-area,
    .computer-area {
      font-size: 14px;
      width: 200px;
      height: 180px;
    }

    .option-buttons {
      font-size: 20px;
    }

    .game-buttons i {
      font-size: 3.5em;
      display: flex;
      margin: 4px 4px;
    }

    .modal-content {
      font-size: 25px;
    }

    .center-area {
      flex-direction: row;
    }

    .scores span {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    header {
      font-size: 2rem;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal .modal-content {
      width: 260px;
      height: 400px;
    }

    .gameResultContent {
      width: 330px;
    }

    .modal-content p {
      font-size: 16px;
    }

    .center-area {
      flex-direction: row;
    }

    .player-area,
    .computer-area {
      width: 180px;
      height: 160px;
    }

    #resultMessage {
      margin: 0;
    }

    #resultMessage span {
      font-size: 1rem;
      width: 125px;
      height: 40px;
    }

    .game-buttons {
      margin: 0;
    }

    .game-buttons i {
      margin: 5px 5px;
      font-size: 40px;
    }

    .opt-btn-pos {
      margin: 0;
    }

    .option-buttons {
      font-size: 20px;
      width: 85px;
      margin: 20px 10px;
    }

  }


  @media screen and (max-width: 440px) {
    header {
      font-size: 1.2rem;
    }

    .center-area {
      flex-direction: column;
    }

    .player-area,
    .computer-area {
      height: 130px;
    }

    .game-buttons i {
      font-size: 1.7rem;
    }

    .opt-btn-pos {
      flex-direction: row;
      flex-flow: wrap;
    }

    .option-buttons {
      width: 70px;
      height: 30px;
      font-size: 1rem;
      margin: 2px;
    }
  }

  @media screen and (max-width: 300px) {
    .game-buttons {
      margin: 10px;
    }
  
    .game-buttons i {
      font-size: 1.5rem;
    }

    .center-area span {
      font-size: 20px;
    }

    .option-buttons {
      width: 60px;
      height: 30px;
      font-size: 1rem;
    }

    .scores {
      font-size: 0.7rem;
    }

    .scores span {
      font-size: 1rem;
    }

    .game-buttons button {
      margin: 3px 3px;
    }

    .gameResultContent span {
      font-size: 1.2rem;
    }

    .gameResultContent {
      width: 260px;
      height: 200px;
    }

  }

}