@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(/assets/images/Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; 
}

body {
  height: 100%;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  color: white;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  color: white;
}

button {
  border-radius: 100px;
  border: 5px solid white;
  cursor: pointer;
  box-shadow: 0 9px #999;
}

button:hover {
  color: orange;
  border: 5px solid orange;
}

p {
  color: white;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}
.info p {
  width: 50%;
}

.btn-grey:hover {
  border: 5px solid grey;
  color: grey;
}

.btn-grey:active {
  transform: translateY(4px);
}

.btn-green:hover {
  border: 5px solid green;
  color: green;
}

.btn-green:active {
  transform: translateY(4px);
}

.btn-blue:hover {
  border: 5px solid blue;
  color: blue;
}

.btn-blue:active {
  transform: translateY(4px);
}

.btn-red:hover {
  border: 5px solid red;
  color: red;
}

.btn-red:active {
  transform: translateY(4px);
}

.btn-orange:hover {
  border: 5px solid orange;
  color: orange;
}

.btn-orange:active {
  transform: translateY(4px);
}


.player-area {
  display:flex;
  align-items: center;

}

.computer-area {
  display: flex;
  align-items: center;

}

.center-area {
  height: 350px;
  display: flex;
  justify-content: center;
  margin: 50px;
  position: relative;
  top: 50px;
  gap: 200px;
}

.center-area img {
  border-radius: 50px;
}

.game-buttons {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-buttons i {
  font-size: 5em;
  display: flex;
  margin: 40px 50px;

}

.game-buttons button {
  margin: 0 10px;
}

.game-buttons span {
  font-family: 'Orbitron', sans-serif;
  font-weight: 550;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
  bottom: 30px;
}